

body {
    -moz-background-size: cover;
    -background-size: cover;
	background-position: top center !important;
	background-repeat: no-repeat !important;
	background-attatchment: fixed;
    margin: 0 auto;
    padding: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #DAA520; 
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3em;
}

h2 {
    margin-top: 1.3em;
}

a {
    
	color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}
#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    
}

#nav{
	display: table;
	height: 44px;
	text-align: justify;
	width: 100%;
}
#nav li{
	display: table-cell;
	height: 44px;
	width: 16.666667%
	line-height: 87px;
	background: #ddd;
	border-right: 1px solid #fff;
	white-space: nowrap;
}

@media (max-width: 767px){
	#nav li {
display: block;
width: 100%;
	}
}


#nav li a{
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #000000;
	float: left;
}

#nav li a:hover{
	color: #FFFFFF;
	background-color: #35af3b;
}

#enter{
	display: table;
	height: 44px;
	text-align: justify;
	width: 100%;
}
#enter li{
	display: table-cell;
	height: 44px;
	width: 16.666667%
	line-height: 87px;
	background: #FFD700;
}

#enter li a{
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
	color: #1E90FF;
	background-color: #FFD700;
	float: left;
}